archive/node-red/Toggle LED Pico W.json
[
    {
        "id": "1dd6f6e4dfa4674c",
        "type": "tab",
        "label": "Toggle LED Pico W",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec4e859eb785b3d1",
        "type": "inject",
        "z": "1dd6f6e4dfa4674c",
        "name": "START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "led",
        "payload": "{\"led\": \"on\"}",
        "payloadType": "json",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "446ba40ee58d5648"
            ]
        ]
    },
    {
        "id": "384d114565968156",
        "type": "change",
        "z": "1dd6f6e4dfa4674c",
        "name": "Set ON",
        "rules": [
            {
                "t": "set",
                "p": "payload.led",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "0fa25c8e7b72a260"
            ]
        ]
    },
    {
        "id": "0fa25c8e7b72a260",
        "type": "delay",
        "z": "1dd6f6e4dfa4674c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "07fd50f6896340e6"
            ]
        ]
    },
    {
        "id": "77da9af50c4106cf",
        "type": "link out",
        "z": "1dd6f6e4dfa4674c",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "8a4e8b61ee6a2762"
        ],
        "x": 765,
        "y": 340,
        "wires": []
    },
    {
        "id": "7f92d115a96e83ee",
        "type": "switch",
        "z": "1dd6f6e4dfa4674c",
        "name": "",
        "property": "payload.led",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "384d114565968156"
            ],
            [
                "82f88fab58b8801f"
            ]
        ]
    },
    {
        "id": "82f88fab58b8801f",
        "type": "change",
        "z": "1dd6f6e4dfa4674c",
        "name": "Set OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload.led",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 500,
        "wires": [
            [
                "0fa25c8e7b72a260"
            ]
        ]
    },
    {
        "id": "a5df723b47057cc1",
        "type": "link in",
        "z": "1dd6f6e4dfa4674c",
        "name": "link in 1",
        "links": [
            "07fd50f6896340e6"
        ],
        "x": 265,
        "y": 340,
        "wires": [
            [
                "446ba40ee58d5648"
            ]
        ]
    },
    {
        "id": "8a4e8b61ee6a2762",
        "type": "link in",
        "z": "1dd6f6e4dfa4674c",
        "name": "link in 2",
        "links": [
            "77da9af50c4106cf"
        ],
        "x": 265,
        "y": 460,
        "wires": [
            [
                "7f92d115a96e83ee"
            ]
        ]
    },
    {
        "id": "07fd50f6896340e6",
        "type": "link out",
        "z": "1dd6f6e4dfa4674c",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a5df723b47057cc1"
        ],
        "x": 875,
        "y": 460,
        "wires": []
    },
    {
        "id": "446ba40ee58d5648",
        "type": "http request",
        "z": "1dd6f6e4dfa4674c",
        "name": "SEND",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://192.168.178.35/light",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "user-agent",
                "valueType": "other",
                "valueValue": "node-red"
            }
        ],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "16927e7ec3205148",
                "aa2a3c00588332a6"
            ]
        ]
    },
    {
        "id": "16927e7ec3205148",
        "type": "json",
        "z": "1dd6f6e4dfa4674c",
        "name": "Parse led status",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "77da9af50c4106cf",
                "aa2a3c00588332a6"
            ]
        ]
    },
    {
        "id": "aa2a3c00588332a6",
        "type": "debug",
        "z": "1dd6f6e4dfa4674c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    }
]